*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.clear
{
    clear: both;
}
.row
{
    margin-right: -8px;
    margin-left: -8px;
}
.row::after
{
    content: "";
    display: block;
    clear: both;
}
.col
{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-3
{
    width: 33.33333%;
}
.col-2
{
    width: 50%;
}
.col-full
{
    width: 100%;
}
.mt-8
{
    margin-top: 8px !important;
}
.mt-16
{
    margin-top: 16px;
}

.tex-center
{
    text-align: center !important;
}
.text-whitle
{
    color: #fff !important;
}
html
{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#main
{

}

#header
{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
    overflow: hidden;
}
#nav
{
    display: inline-block;
}
#nav, .subnav
{
    list-style-type: none;
}
#nav > li
{
    display: inline-block;
}
#nav li
{
    
    position: relative;
}
#nav >li> a
{
    color: #fff;
    text-transform: uppercase;
}
#nav li a
{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24PX;
    display: inline-block;
    line-height: 46px;

}
#nav .subnav
{
    min-width: 60;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
#nav .subnav a
{
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}
#nav .nav-icon 
{
    font-size: 14px;
}
#nav li:hover .subnav
{
    display: block;
}
#nav .subnav li:hover ,
#nav >li:hover> a
{
    color: #000;
    background-color: #ccc;
}
#header .mobile-menu-btn{
    color: #fff;
    
    float: right;
    padding: 17px 19px
}
#header .search-btn
{
    float: right;
    padding: 0 21px;
    
}
#header .mobile-menu-btn:hover
{
    background-color: #ccc;
    color: #000;
    
}
.mobile-menu-btn:hover menu
{
    background-color: #000;
}
#header .search-btn:hover
{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon
{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}
#slider
{   
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/w3_ban/slider/slider1.jpg') top center/ cover no-repeat
}
#slider .text-content
{
    position: absolute;
    color: #fff;
    bottom: 47px;
    
    text-align: center;
    width: 100%;
}
#slider .text-heading
{
    font-size: 24px;
    font-weight: 500;
}
#slider .text-discription
{
    margin-top: 25px;
    font-size: 15px;
}
#content
{
    
}
#content .content-section
{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 16px;
}
#content .section-heading
{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 5px;
}
#content .section-sub-heading
{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.7;
}
#content .about-text
{
    margin-top: 21px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}
#content .member-list
{
    margin-top: 47px;
    
}

#content .member-name
{
    font-size: 15px;
    
}
#content .member-img
{
    margin-top: 15px;
    width: 155px;
    border-radius: 5px;
}
.tour-section
{
    background-color: #000;
}
#content .ticket-list
{
    background-color: #fff;
    margin-top: 41px;
    list-style-type: none;
}
.ticket-list li
{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.ticket-list .sold-out
{
    background-color: #f44336;
    padding: 3px 4px;
    color: #fff;
    margin-left: 17px;
}
.ticket-list .quantity
{
    float: right;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    width: 24px;
    height: 24px;
    margin-top: -2px;
}
.places-list
{
    
    margin-top: 32px;
    

}


.places-img
{
    width: 100%;
    display: block;
    
}
.places-img:hover
{
    opacity: 0.7;
}
.places-body
{
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}
.places-heading
{
    font-size: 15px;
    font-weight: 600;
}
.places-time
{
    margin-top: 15px;
    color: #757575;
}
.places-desct
{
    margin-top: 15px; 
    line-height: 1.5;   
}
.places-buy-btn
{
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
}
.places-buy-btn:hover
{
    background-color: #ccc;
    color: #000;
}
.contact-content
{
    margin-top: 47px;
}
.contact-info
{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]
{
   width: 30px; 
    display: inline-block;
}
.contact-form
{
    font-size: 15px;
    float: right;
    
}
.contact-form .form-control
{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
}
.contact-form .form-submit-btn
{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 11px;
    float: right;
}
.contact-form .form-submit-btn:hover
{
    background-color: #ccc;
    color: #000;
}
.map-section img
{
    width: 100%;
   
}
#footer
{
    padding: 64px 15px;
    text-align: center;
}
#footer .socials-list
{
    font-size: 24px;
    

}
#footer .socials-list a
{   
    text-decoration: none;

    color: rgba(0, 0, 0, 0.7);
}
#footer .socials-list a:hover
{
    color: rgba(0, 0, 0, 0.4);
}
#footer .coppy-right
{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.7);
}
#footer .coppy-right a
{
    color: rgba(0, 0, 0, 0.7);
}